* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables

$font-Mobile-S: 13px;
$font-Mobile-M: 14px;
$font-Mobile-L: 15px;
$font-Tablet: 18px;
$font-Laptop: 20px;

// Animaciones

@keyframes rightAnim {
  0% {
    left: 200%;
  }

  50% {
    right: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes leftAnim {
  0% {
    right: 200%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 0%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;

  button {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid #00000074;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    font-family: "Fjalla One", sans-serif;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }

  button:hover {
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
    border: none;
  }

  button:focus {
    outline: none;
  }

  header {
    width: auto;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    .topnav {
      overflow: hidden;
      .matricula {
        width: 150px;
        height: auto;
        font-size: 10px;
        margin: 5px 20%;
      }
      #logo {
        position: absolute;
        left: 10px;
        top: 10px;
        img{
          background-color: #000;
          width: 2em;
        }
      }
      #myLinks {
        display: none;
      }
      .icon {
        color: black;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .control-nav {
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        a {
          text-decoration: none;
          color: black;
          margin: 0 60px;
          padding: 14px 16px;
          display: block;
        }
        a:hover {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 10px;
        }
      }
    }
  }
  .section-1 {
    display: flex;
    position: relative;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      // top: 10px;
      z-index: 5;
      .first-text {
        width: 145px;
        height: auto;
        margin: 1em 0 0 1em;
        letter-spacing: 2px;
        line-height: 134.4%;
        animation-name: rightAnim;
        animation-duration: 2.5s;
        animation-timing-function: ease;
      }
    }
    .call-to-action {
      width: 100%;
      height: 100%;
      // position: absolute;
      display: flex;
      // align-items: baseline;
      justify-content: flex-end;
      flex-direction: column;
      // margin: 20% 2% 0 95%;
      padding: 0 5% 2% 0;
      font-size: $font-Mobile-S;
      .text {
        width: 100%;
        height: auto;
        line-height: 120%;
        text-align: right;
        // margin: 0 0 0 0.5em;
        // padding: 5% 0 0 15%;
        // position: relative;
        animation-name: leftAnim;
        animation-duration: 3.5s;
        animation-timing-function: ease-out;
        // span {
        //   width: 134px;
        // }
      }
      .button {
        align-self: flex-end;
      }
    }
  }

  .section-2 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        width: 80px;
        height: auto;
        position: absolute;
        margin: 3em 0 0 1em;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
      }
    }
  }

  .section-3 {
    display: flex;
    position: relative;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        align-self: flex-end;
        width: 150px;
        height: 30%;
        position: absolute;
        // margin: 12em 0 0 1em;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
        padding: 0.5em;
      }
    }
  }

  .section-4 {
    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
    width: auto;
    height: 100%;

    .image {
      display: flex;
      img {
        opacity: 0.1;
        width: 100%;
        height: auto;
      }
    }
    .about-me {
      padding: 1em;
      position: absolute;
      padding: .5em 1em;
      p {
        font-size: $font-Mobile-S;
      }
      // text-align: center;
    }
  }
}

.my-Form{
  background-color: #F2F3EB;
  padding: 1em;


} 
.form{
  
    border: #000 1px solid;

    .tit-form{
      background-color: #F2F3EB;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1em;

    }
    .form-content {
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 1em;
      width: 100%;
      
    .submit{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

    }
      input {
        // font-family: "Josefin Sans", sans-serif;
        margin-bottom: 10px;
        width: 60%;
        height: 2.5em;
        background-color: #F2F3EB;
        border: #aaa 0.5px;
        border-bottom: #000 2px solid;
      }
      input::placeholder{
        font-size: $font-Mobile-S;
        // font-size: 1.5em;
      }
      input:focus{
        outline: none;
      }
      textarea{
        // font-family: "Josefin Sans", sans-serif;
        margin-bottom: 10px;
        width: 60%;
        background-color: #F2F3EB;
        border: #aaa 0.5px;
        border-bottom: #000 2px solid;
      }
      textarea::placeholder{
        // font-size: 1.5em;
        font-size: $font-Mobile-S;
      }
      textarea:focus{
        outline: none;
      }
      }
        #nota{
          height: 6em;
        }
        #btn-form{
          font-family: "Josefin Sans", sans-serif;
          width: 45%;
          background-color: #F2F3EB;
          border: #000 2px solid;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          // font-size: 1em;
          // font-size: $font-Mobile-S;
          margin: 0.4em 0.2em;
          transition-duration: 0.4s;
          cursor: pointer;

        }
        #btn-form:hover {
          background-color: rgb(78, 78, 78);
          color: #F2F3EB;
          font-weight: bold;
          opacity: 1;
        }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
   


.modal {
  display: none;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Animacion */
@-webkit-keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Boton de cierre */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

footer {
  width: 100%;
  height: auto;
  font-size: 11px;
  background-color: black;
  color: #ffffff;
  padding: 10px 10px;
  i {
    color: #ffffff;
    padding-right: 5px;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .ic-st {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body {
    button {
      font-size: $font-Mobile-M;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-M + 2px;
        }
        .call-to-action {
          // margin: 12.5em 2% 0 15.5em;
          .text {
            font-size: $font-Mobile-M;
          }
          padding: 0 8.5% 4% 0;
        }
      }
    }
    .section-2 {
      .image {
        .text {
          font-size: $font-Mobile-M;
          margin: 5em 0 0 1em;
        }
      }
    }
    .section-3 {
      .image {
        .text {
          span {
            font-size: $font-Mobile-M;
          }
          margin: 13em 0 0 1em;
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-M;
        }
      }
    }
    footer {
      .icons {
        font-size: $font-Mobile-M;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 425px) {
  body {
    button {
      font-size: $font-Mobile-L;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-L + 3px;
          width: 100%;
        }
      }
      .content {
        .call-to-action {
          .text {
            font-size: $font-Mobile-L;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 5em 0 0 1em;
          font-size: $font-Mobile-L;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 170px;
          margin: 14em 0 0 1em;
          span {
            font-size: $font-Mobile-L;
          }
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-L;
        }
      }
    }

    footer {
      .icons {
        .ic-st {
          font-size: $font-Mobile-L;
          i {
            font-size: $font-Mobile-L;
          }
        }
      }
    }
  }
}

/*

ACA TENEMOS QUE SACAR EL ICONO DEL MENÜ HAMBURGUESA Y ESTILAR EL MENÜ 
COMO LA VISTA DE FIGMA.

*/

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  body {
    button {
      margin-top: 0.5em;
      background: rgba(255, 255, 255, 0.48);
      border: 1px solid #00000074;
      padding: 0.5em 1.5em;
      text-transform: uppercase;
      font-size: $font-Tablet * 1.2;
      font-weight: 800;
      font-family: "Fjalla One", sans-serif;
      border-radius: 8px;
      letter-spacing: 0.1em;
    }
    #myHeader {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topnav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
          position: static;
          margin: 1em;
        }
        .matricula {
          width: 150px;
          height: auto;
          font-size: 10px;
          margin: 10px 20px;
        }
        #myLinks {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          a {
            margin: 0;
          }
        }
        .icon {
          i {
            display: none;
          }
        }
      }
    }
    .section-1 {
      .image {
        .first-text {
          font-size: $font-Tablet + 10px;
          // width: 260px;
          margin: 1em 2em 0 1em;
        }
      }

      .call-to-action {
        // margin: 14em 0 0 19em;
        font-size: 24px;
        padding: 0;
        .text {
          // width: 250px;
          font-size: $font-Tablet * 1.2;
          margin: 0;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          width: 120px;
          font-size: $font-Tablet * 1.5;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 200px;
          margin: 15em 0 0 1em;
          font-size: $font-Tablet * 1.5;
        }
      }
    }
    .section-4 {
      #acc-btn-2 {
        margin: 20% 0 0 0%;
        padding: 10px;
        font-size: 24px;
      }
      .image {
        .call-to-action {
          width: 300px;
          .text {
            margin: 10% 0% 0% 5%;
            font-size: 30px;
          }
        }
      }
    }
    footer {
      .icons {
        .ic-st {
          font-size: $font-Tablet * 1.2;
          i {
            font-size: $font-Tablet * 2;
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  body {
    button {
      margin-top: 0.5em;
      background: rgba(255, 255, 255, 0.48);
      border: 1px solid #00000074;
      padding: 0.5em 1.5em;
      text-transform: uppercase;
      font-size: $font-Laptop * 1.2;
      font-weight: 800;
      font-family: "Fjalla One", sans-serif;
      border-radius: 8px;
      letter-spacing: 0.1em;
    }
    #myHeader {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topnav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
          position: static;
          margin: 1em;
        }
        .matricula {
          width: 150px;
          height: auto;
          font-size: 10px;
          margin: 10px 20px;
        }
        #myLinks {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          a {
            margin: 0;
          }
        }
        .icon {
          i {
            display: none;
          }
        }
      }
    }
    .section-1 {
      .image {
        .first-text {
          width: 260px;
          margin: 1em 2em 0 1em;
          font-size: $font-Laptop * 2;
        }
      }

      .call-to-action {
        margin: 19em 0 0 25em;
        font-size: 24px;
        padding: 0;
        .text {
          width: 350px;
          font-size: $font-Laptop * 1.2;
          margin: 0;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          width: 200px;
          font-size: $font-Laptop * 1.5;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 275px;
          margin: 17em 0 0 1em;
          font-size: $font-Laptop * 1.5;
        }
      }
    }
    .section-4 {
      #acc-btn-2 {
        margin: 20% 0 0 0%;
        padding: 10px;
        font-size: 24px;
      }
      .image {
        .call-to-action {
          width: 300px;
          .text {
            margin: 10% 0% 0% 5%;
            font-size: 30px;
          }
        }
      }
    }
    footer {
      .icons {
        .ic-st {
          font-size: $font-Laptop * 1.2;
          i {
            font-size: $font-Laptop * 2;
          }
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
  body {
    .section-1 {
      .image {
        .first-text {
          margin: 5% 30% 0 5%;
          padding-right: 250px;
          font-size: 80px;
        }
      }

      .call-to-action {
        margin: 42% 5% 0 45%;
        padding-right: 40px;
        font-size: 50px;
      }
      .button {
        #acc-btn-1 {
          margin: 5% 0 0 50%;
          font-size: 40px;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 20% 0 0 5%;
          padding-right: 70%;
          font-size: 60px;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          margin: 13% 0 0 1%;
          padding-right: 75%;
          font-size: 50px;
        }
      }
    }
    .section-4 {
      #acc-btn-2 {
        margin: 20% 0 0 12%;
        padding-left: 10%;
        font-size: 50px;
      }
      .image {
        .call-to-action {
          width: 800px;
          margin: 15% 0% 0% 21%;
          .text {
            margin: 10% 0% 0% 5%;
            font-size: 80px;
          }
        }
      }
    }
  }
}
