* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables

$font-Mobile-S: 13px;
$font-Mobile-M: 14px;
$font-Mobile-L: 15px;
$font-Tablet: 24px;
$font-Laptop: 28px;

// Animaciones

@keyframes rightAnim {
  0% {
    left: 200%;
  }

  100% {
    left: 0%;
  }
}

@keyframes leftAnim {
  0% {
    right: 200%;
  }

  100% {
    right: 0%;
  }
}

h1 {
  font-size: 90%;
  font-weight: 700;
}

body {
  font-family: "Josefin Sans", sans-serif;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  button {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid #00000074;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    font-family: "Fjalla One", sans-serif;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }

  button:hover {
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
    border: none;
  }

  button:focus {
    outline: none;
  }

  header {
    width: 100%;
    height: auto;
    font-family: Fjalla One;

    .topnav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 0.5em;
      .header-content {
        a {
          img {
            width: 8rem;
            height: auto;
          }
        }
      }
      .matricula {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em 1em;
      }
      .icon-control {
        // width: 90%;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin-right: 1em;
          }
        }
      }
      .control-nav {
        font-family: "Josefin Sans", sans-serif;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
          width: 70%;
          text-decoration: none;
          padding: 1rem;
          // margin: 0 60px;
          text-transform: uppercase;
          text-align: center;
        }
        a:hover {
          border: 1px solid white;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 1rem;
        }
        a:focus {
          outline: none;
        }
        a:visited {
          color: black;
        }
      }
    }
  }
  .section-1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      // top: 10px;
      z-index: 5;
      .first-text {
        position: relative;
        width: 150px;
        height: auto;
        margin: 1em 0 0 1em;
        letter-spacing: 2px;
        line-height: 134.4%;
        animation-name: rightAnim;
        animation-duration: 2.5s;
        animation-timing-function: ease;
      }
    }
    .call-to-action {
      background-color: #ffffffd9;
      width: 100%;
      height: 50%;
      align-self: flex-end;
      // display: flex;
      // justify-content: flex-end;
      // flex-direction: column;
      padding: 0.5em;
      margin: 0 0.5em 0.5em 0;
      font-size: $font-Mobile-S;
      text-align: center;
      position: relative;
      animation-name: leftAnim;
      animation-duration: 3.5s;
      animation-timing-function: ease-out;
      // border: 1px solid black;
      border-radius: 10px;
      box-shadow: 10px 10px 31px -2px rgba(0, 0, 0, 0.75);
      .text {
        // width: 90%;
        padding-top: 0.5em;

        height: auto;
        line-height: 120%;
        // margin-bottom: 5px;
        // text-align: right;
        // margin: 0 0 0 0.5em;
        // padding: 5% 0 0 15%;

        // span {
        //   width: 134px;
        // }
      }
      .button {
        align-self: flex-end;
        padding-top: 0.5em;
      }
    }
  }

  .section-2 {
    display: flex;
    width: 100%;
    height: auto;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        width: 80px;
        height: auto;
        position: absolute;
        margin: 3em 0 0 1em;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
      }
    }
  }

  .section-3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        align-self: flex-end;
        width: 150px;
        height: 30%;
        position: absolute;
        // margin: 12em 0 0 1em;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
        padding: 0.5em;
      }
    }
  }

  .section-4 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    // justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      display: flex;
      img {
        opacity: 0.1;
        width: 100%;
        height: auto;
      }
    }
    .about-me {
      padding: 1em;
      position: absolute;
      padding: 0.5em 1em;

      p {
        font-size: $font-Mobile-S;
      }
      // text-align: center;
    }
  }

  .section-5 {
    width: 100%;
    text-align: center;
    img {
      width: 20%;
      margin: 1em 1em;
      filter: grayscale(100%);
    }
    img:hover {
      filter: grayscale(0%);
    }
  }
}

.my-Form {
  background-color: #f2f3eb;
  padding: 1em;
}
.form {
  border: #000 1px solid;
  .tit-form {
    background-color: #f2f3eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }
  .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;

    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    input {
      font-family: "Josefin Sans", sans-serif;

      margin-bottom: 10px;
      width: 60%;
      height: 2.5em;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
    }
    input + span {
      position: relative;
    }
    input + span::before {
      position: absolute;
      left: 4.5rem;
      top: -2rem;
    }

    input::placeholder {
      font-size: $font-Mobile-S;
    }
    input:focus {
      outline: none;
    }
    // input:invalid {
    //   border-bottom: rgb(223, 14, 14) 2px solid;
    // }

    // input:invalid + span::before {
    //   content: "✖";
    //   color: red;
    // }

    input:valid + span::before {
      content: "✓";
      color: green;
    }

    textarea {
      margin-bottom: 10px;
      width: 60%;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
    }
    textarea::placeholder {
      font-size: $font-Mobile-S;
    }
    textarea:focus {
      outline: none;
    }
    p {
      width: 60%;
      margin-bottom: 10px;
      // background-color: #f2f3eb;
      font-size: $font-Mobile-S;
      color: rgb(121, 120, 120);
    }
    .select-wrapper {
      width: 60%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
      select {
        background-color: #f2f3eb;
        border: #aaa 0.5px;
        // appearance: none;
      }
      select:focus {
        outline: none;
      }
    }
  }
  #nota {
    height: 6em;
  }
  #btn-form {
    font-family: "Josefin Sans", sans-serif;
    width: 45%;
    background-color: #f2f3eb;
    border: #000 2px solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 1em;
    // font-size: $font-Mobile-S;
    margin: 0.4em 0.2em;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #btn-form:hover {
    background-color: rgb(78, 78, 78);
    color: #f2f3eb;
    font-weight: bold;
    opacity: 1;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal {
  display: none;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Animacion */
@-webkit-keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Boton de cierre */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

footer {
  width: 100%;
  height: auto;
  font-size: 11px;
  background-color: black;
  color: #ffffff;
  padding: 2% 5%;
  i {
    color: #ffffff;
    padding-right: 5px;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body {
    button {
      font-size: $font-Mobile-M;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-M + 2px;
        }
        .call-to-action {
          // margin: 12.5em 2% 0 15.5em;
          .text {
            font-size: $font-Mobile-M;
          }
          padding: 0 8.5% 4% 0;
        }
      }
    }
    .section-2 {
      .image {
        .text {
          font-size: $font-Mobile-M;
          margin: 5em 0 0 1em;
        }
      }
    }
    .section-3 {
      .image {
        .text {
          span {
            font-size: $font-Mobile-M;
          }
          margin: 13em 0 0 1em;
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-M;
        }
      }
    }
    footer {
      .icons {
        font-size: $font-Mobile-M;
      }
    }
  }
}

@media only screen and (min-width: 393px) {
  body {
    .section-1 {
      .content {
        .call-to-action {
          padding: 0 9.5% 3% 0;
        }
      }
    }
  }
}
/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 420px) {
  body {
    button {
      font-size: $font-Mobile-L;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-L + 3px;
          width: 100%;
        }
      }
      .content {
        .call-to-action {
          .text {
            font-size: $font-Mobile-L;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 5em 0 0 1em;
          font-size: $font-Mobile-L;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 170px;
          margin: 14em 0 0 1em;
          span {
            font-size: $font-Mobile-L;
          }
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-L;
        }
      }
    }

    footer {
      .icons {
        i {
          font-size: $font-Mobile-L;
        }
      }
    }
  }
}

/*

ACA TENEMOS QUE SACAR EL ICONO DEL MENÜ HAMBURGUESA Y ESTILAR EL MENÜ 
COMO LA VISTA DE FIGMA.

*/

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  body {
    // font-size: $font-Tablet;

    button {
      margin-top: 0.5em;
      background: rgba(255, 255, 255, 0.48);
      border: 1px solid #00000074;
      padding: 0.5em 1.5em;
      text-transform: uppercase;
      font-size: $font-Tablet * 1.2;
      font-weight: 800;
      font-family: "Fjalla One", sans-serif;
      border-radius: 8px;
      letter-spacing: 0.1em;
    }
    #myHeader {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topnav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-content {
          a {
            position: static;
            margin: 0 1em;
            img {
              width: 4em;
            }
          }
          .matricula {
            width: 150px;
            height: auto;
            font-size: $font-Tablet - 12px;
            margin: 10px 20px;
          }
        }
        #myLinks {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          a {
            margin: 0;
          }
        }
        .icon {
          i {
            display: none;
          }
        }
      }
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Tablet * 1.8;
        }
        .call-to-action {
          // margin: 14em 0 0 19em;
          // font-size: 24px;
          // padding: 0;
          .text {
            font-size: $font-Tablet;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          width: 120px;
          font-size: $font-Tablet;
          margin: 5em 0 0 2em;
        }
      }
    }

    .section-3 {
      .image {
        display: flex;
        // justify-content: center;
        align-items: center;
        .text {
          width: 200px;
          height: 27%;
          margin: 15em 0 0 2em;
          // font-size: $font-Tablet * 1.5;
          line-height: 200%;
          span {
            font-size: $font-Tablet;
          }
        }
      }
    }
    .section-4 {
      .about-me {
        padding: 2.5em;
        h3 {
          margin-bottom: 2em;
          font-size: $font-Tablet;
        }
        p {
          font-size: $font-Tablet;
        }
      }
    }

    .my-Form {
      margin: 2em 4em;
      box-shadow: 10px 10px 31px -2px rgba(0, 0, 0, 0.75);
      input {
        font-size: $font-Tablet;
      }
    }

    .section-5 {
      img {
        width: 25%;
        margin: 1.5em 1.5em;
      }
    }
    footer {
      .icons {
        font-size: $font-Tablet;

        i {
          font-size: $font-Tablet;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  body {
    #myHeader {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topnav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-content {
          a {
            img {
              width: 80px;
            }
          }
          .matricula {
            width: 150px;
            height: auto;
            margin: 10px 20px;
            span {
              font-size: $font-Laptop - 15px;
            }
          }
        }

        #myLinks {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          a {
            margin: 0;
            font-size: $font-Laptop;
          }
        }
        .icon {
          i {
            display: none;
          }
        }
      }
    }
    .section-1 {
      .image {
        .first-text {
          width: 260px;
          margin: 1em 2em 0 1em;
          font-size: $font-Laptop;
        }
      }

      .content {
        .call-to-action {
          padding: 0 9.5% 7% 0;
          .text {
            padding-left: 3em;
            span {
              font-size: $font-Laptop;
            }
            margin: 0;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          width: 200px;
          font-size: $font-Laptop;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 275px;
          margin: 15em 0 0 5em;
          span {
            font-size: $font-Laptop;
          }
        }
      }
    }
    .section-4 {
      .about-me {
        h3 {
          font-size: $font-Laptop + 10px;
        }
        p {
          font-size: $font-Laptop;
          padding-bottom: 20px;
        }
      }
    }

    .section-5 {
      padding: 3em 0;
    }
    .form {
      .tit-form {
        h3 {
          font-size: $font-Laptop + 10px;
        }
      }
      .form-content {
        input {
          font-size: $font-Laptop;
        }
        input::placeholder {
          font-size: $font-Laptop - 10px;
        }
        textarea::placeholder {
          font-size: $font-Laptop - 10px;
        }
      }
    }
    footer {
      .icons {
        i {
          font-size: $font-Laptop * 2;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
  body {
    .section-1 {
      .image {
      }
      .content {
        .first-text {
          font-size: $font-Laptop * 2;
        }
        .call-to-action {
          .text {
            padding-left: 0;
            line-height: 120%;
            span {
              font-size: $font-Laptop * 1.5;
            }
          }
        }
        button {
          font-size: $font-Laptop * 1.5;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          font-size: $font-Laptop * 1.5;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          padding: 1em;
          span {
            font-size: $font-Laptop * 1.5;
          }
        }
      }
    }
    .section-4 {
      #acc-btn-2 {
        margin: 20% 0 0 12%;
        padding-left: 10%;
        font-size: 50px;
      }
      .image {
        .call-to-action {
          width: 800px;
          margin: 15% 0% 0% 21%;
          .text {
            margin: 10% 0% 0% 5%;
            font-size: 80px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1436) {
}
