* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;

  button {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid #00000074;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    font-family: "Fjalla One", sans-serif;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }

  button:hover {
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
    border: none;
  }

  button:focus {
    outline: none;
  }

  header {
    width: auto;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    .topnav {
      overflow: hidden;
      #logo {
        position: absolute;
        left: 10px;
        top: 10px;
      }
      #myLinks {
        display: none;
      }
      .icon {
        color: black;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .control-nav {
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        a {
          text-decoration: none;
          color: black;
          margin: 0 60px;
          padding: 14px 16px;
          display: block;
        }
        a:hover {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 10px;
        }
      }
    }
  }
  .section-1 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .first-text {
        position: absolute;
        margin: 5% 0 0 5%;
        padding-right: 150px;
        letter-spacing: 2px;
        line-height: 134.4%;
      }
    }

    .call-to-action {
      position: absolute;
      margin: 42% 2% 0 50%;
      padding-right: 10px;
      text-align: right;
      font-size: 13px;
    }
  }

  .section-2 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        position: absolute;
        margin: 20% 0 0 5%;
        padding-right: 60%;
        text-align: center;
      }
    }
  }

  .section-3 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        position: absolute;
        margin: 15% 0 0 5%;
        padding-right: 75%;
        text-align: center;
        font-size: 10px;
      }
    }
  }

  .section-4 {
    display: flex;
    .image {
      display: flex;
      img {
        opacity: 0.5;
        width: 100%;
        height: auto;
      }
      .call-to-action {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 15%;
        .text {
          //   padding-right: 0%;
          text-align: center;
          font-size: 20px;
        }
        .button {
          width: auto;
          // margin-left: 20%;
          // margin-right: 20%;
        }
      }
    }
  }

  .formulario {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    .submit {
      input {
        display: none;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  footer {
    height: 40px;
    font-size: 11px;
    background-color: black;
    color: #ffffff;
    padding: 10px 5px;
    i {
      color: #ffffff;
      padding-right: 5px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      //   margin: 10px;
    }
    .ic-st {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body {
    .section-1 {
      .image {
        .first-text {
          padding-right: 200px;
        }
      }

      .call-to-action {
        margin: 43% 0 0 50%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 425px) {
  body {
    .section-1 {
      .image {
        .first-text {
          padding-right: 250px;
        }
      }

      .call-to-action {
        margin: 43% 5% 0 55%;
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 25% 0 0 5%;
          padding-right: 70%;
          font-size: 16px;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          margin: 15% 0 0 5%;
          padding-right: 75%;
          font-size: 14px;
        }
      }
    }
  }
}

/*

ACA TENEMOS QUE SACAR EL ICONO DEL MENÜ HAMBURGUESA Y ESTILAR EL MENÜ 
COMO LA VISTA DE FIGMA.

*/

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  body {
    .section-1 {
      .image {
        .first-text {
          margin: 5% 30% 0 5%;
          padding-right: 250px;
          font-size: 30px;
        }
      }

      .call-to-action {
        margin: 43% 5% 0 55%;
        font-size: 24px;
        padding-right: 20px;
        
      }
      .button{
        #acc-btn-1{
          margin: 5% 0 0 50%;
          font-size: 15px;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 20% 0 0 5%;
          padding-right: 70%;
          font-size: 30px;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          margin: 12% 0 0 2%;
          padding-right: 75%;
          font-size: 28px;
        }
      }
    }
    .section-4 {
      #acc-btn-2{
        margin: 20% 0 0 12%;
        padding-left: 15%;
        font-size: 24px;
      }
      .image {
        .call-to-action {
          width: 300px;
          .text{
          margin: 10% 0% 0% 5%;
          font-size: 30px;
        }
            
        }
      }
    }
  }
}


/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  body {
    .section-1 {
      .image {
        .first-text {
          margin: 5% 30% 0 5%;
          padding-right: 250px;
          font-size: 60px;
        }
      }

      .call-to-action {
        margin: 43% 5% 0 55%;
        font-size: 30px;
        padding-right: 40px;
        
      }
      .button{
        #acc-btn-1{
          margin: 5% 0 0 50%;
          font-size: 30px;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 23% 0 0 5%;
          padding-right: 70%;
          font-size: 38px;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          margin: 12% 0 0 1%;
          padding-right: 75%;
          font-size: 38px;
        }
      }
    }
    .section-4 {
      #acc-btn-2{
        margin: 20% 0 0 12%;
        padding-left: 10%;
        font-size: 30px;
      }
      .image {
        .call-to-action {
          width: 350px;
          margin: 15% 0% 0% 32%;
          .text{
          margin: 10% 0% 0% 5%;
          font-size: 50px;
        }
            
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
  body {
    .section-1 {
      .image {
        .first-text {
          margin: 5% 30% 0 5%;
          padding-right: 250px;
          font-size: 80px;
        }
      }

      .call-to-action {
        margin: 42% 5% 0 45%;
        padding-right: 40px;
        font-size: 50px;
      }
      .button{
        #acc-btn-1{
          margin: 5% 0 0 50%;
          font-size: 40px;
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 20% 0 0 5%;
          padding-right: 70%;
          font-size: 60px;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          margin: 13% 0 0 1%;
          padding-right: 75%;
          font-size: 50px;
        }
      }
    }
    .section-4 {
      #acc-btn-2{
        margin: 20% 0 0 12%;
        padding-left: 10%;
        font-size: 50px;
      }
      .image {
        .call-to-action {
          width: 800px;
          margin: 15% 0% 0% 21%;
          .text{
          margin: 10% 0% 0% 5%;
          font-size: 80px;
        }
            
        }
      }
    }
  }
}
