* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables

$font-Mobile-S: 13px;
$font-Mobile-M: 14px;
$font-Mobile-L: 15px;
$font-Tablet: 24px;
$font-Laptop: 28px;

// Animaciones

@keyframes rightAnim {
  0% {
    left: 200%;
  }

  100% {
    left: 0%;
  }
}

@keyframes leftAnim {
  0% {
    right: 200%;
  }

  100% {
    right: 0%;
  }
}

h1 {
  font-size: 90%;
  font-weight: 700;
}

body {
  font-family: "Josefin Sans", sans-serif;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  button {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid #00000074;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    font-family: "Fjalla One", sans-serif;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }

  button:hover {
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
    border: none;
  }

  button:focus {
    outline: none;
  }

  header {
    width: 100%;
    height: auto;
    font-family: Fjalla One;

    .topnav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 0.5em;
      .header-content {
        a {
          img {
            width: 8rem;
            height: auto;
          }
        }
      }
      .matricula {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em 1em;
      }
      .icon-control {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin-right: 1em;
          }
        }
      }
      .control-nav {
        font-family: "Josefin Sans", sans-serif;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
          width: 70%;
          text-decoration: none;
          padding: 1rem;
          text-transform: uppercase;
          text-align: center;
        }
        a:hover {
          border: 1px solid white;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 1rem;
        }
        a:focus {
          outline: none;
        }
        a:visited {
          color: black;
        }
      }
    }
  }
  .section-1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 5;
      .first-text {
        position: relative;
        width: 150px;
        height: auto;
        margin: 1em 0 0 1em;
        letter-spacing: 2px;
        line-height: 134.4%;
        animation-name: rightAnim;
        animation-duration: 2.5s;
        animation-timing-function: ease;
      }
    }
    .call-to-action {
      display: flex;
      flex-direction: column;
      background-color: #ffffffd9;
      width: 100%;
      align-self: flex-end;
      padding: 0.5em;
      margin: 0 0.5em 0.5em 0;
      font-size: $font-Mobile-S;
      text-align: center;
      position: relative;
      animation-name: leftAnim;
      animation-duration: 3.5s;
      animation-timing-function: ease-out;
      border-radius: 10px;
      box-shadow: 10px 10px 31px -2px rgba(0, 0, 0, 0.75);
      .text {
        width: 100%;
        padding-top: 0.5em;
        height: auto;
        line-height: 120%;
      }
      .button {
        align-self: center;
        padding: 0.5em;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: auto;
    .image {
      display: flex;
      img {
        margin-left: 20px;
        width: 100%;
        height: auto;
      }
      .text {
        width: 80px;
        height: auto;
        position: absolute;
        margin: 3em 0 0 1em;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
      }
    }
  }

  .section-3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        align-self: flex-end;
        width: 150px;
        height: 30%;
        position: absolute;
        text-align: center;
        font-size: $font-Mobile-S;
        line-height: 134.4%;
        padding: 0.5em;
      }
    }
  }

  .section-4 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      display: flex;
      img {
        opacity: 0.1;
        width: 100%;
        height: auto;
      }
    }
    .about-me {
      padding: 1em;
      position: absolute;
      padding: 0.5em 1em;

      p {
        font-size: $font-Mobile-S;
      }
    }
  }

  .section-5 {
    width: 100%;
    text-align: center;
    h2 {
      margin: 2em 1em 0em 1em;
      text-align: start;
    }
    img {
      width: 20%;
      margin: 2em 1em;
    }
    /*#png-wrapper {
      background-color: #009b7b;
      padding: 0.3em;
    }*/
    img:hover {
      filter: grayscale(100%);
    }
    img:focus {
      outline: none;
    }
  }
}

.my-Form {
  background-color: #f2f3eb;
  padding: 1em;
}
.form {
  border: #000 1px solid;
  .tit-form {
    background-color: #f2f3eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }
  .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;

    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    input {
      font-family: "Josefin Sans", sans-serif;

      margin-bottom: 10px;
      width: 60%;
      height: 2.5em;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
    }
    input + span {
      position: relative;
    }
    input + span::before {
      position: absolute;
      left: 4.5rem;
      top: -2rem;
    }

    input::placeholder {
      font-size: $font-Mobile-S;
    }
    input:focus {
      outline: none;
    }

    input:valid + span::before {
      content: "✓";
      color: green;
    }

    textarea {
      margin-bottom: 10px;
      width: 60%;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
    }
    textarea::placeholder {
      font-size: $font-Mobile-S;
    }
    textarea:focus {
      outline: none;
    }
    p {
      width: 60%;
      margin-bottom: 10px;
      font-size: $font-Mobile-S;
      color: rgb(121, 120, 120);
    }
    .select-wrapper {
      width: 60%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      background-color: #f2f3eb;
      border: #aaa 0.5px;
      border-bottom: #000 2px solid;
      select {
        background-color: #f2f3eb;
        border: #aaa 0.5px;
      }
      select:focus {
        outline: none;
      }
    }
  }
  #nota {
    height: 6em;
  }
  #btn-form {
    font-family: "Josefin Sans", sans-serif;
    width: 45%;
    background-color: #f2f3eb;
    border: #000 2px solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.4em 0.2em;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #btn-form:hover {
    background-color: rgb(78, 78, 78);
    color: #f2f3eb;
    font-weight: bold;
    opacity: 1;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal {
  display: none;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Animacion */
@-webkit-keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Boton de cierre */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

footer {
  width: 100%;
  height: auto;
  font-size: 11px;
  background-color: black;
  color: #ffffff;
  padding: 2% 5%;
  i {
    color: #ffffff;
    padding-right: 5px;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body {
    button {
      font-size: $font-Mobile-M;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-M + 2px;
        }
        .call-to-action {
          font-size: $font-Mobile-M;
          padding: 1em;
          .text {
            font-size: $font-Mobile-M;
          }
        }
      }
    }
    .section-2 {
      .image {
        .text {
          font-size: $font-Mobile-M;
          margin: 5em 0 0 1em;
        }
      }
    }
    .section-3 {
      .image {
        .text {
          span {
            font-size: $font-Mobile-M;
          }
          margin: 13em 0 0 1em;
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-M;
        }
      }
    }
    footer {
      .icons {
        font-size: $font-Mobile-M;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 420px) {
  body {
    button {
      font-size: $font-Mobile-L;
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Mobile-L + 3px;
          width: 100%;
        }
      }
      .content {
        .call-to-action {
          .text {
            font-size: $font-Mobile-L;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          margin: 5em 0 0 1em;
          font-size: $font-Mobile-L;
        }
      }
    }

    .section-3 {
      .image {
        .text {
          width: 170px;
          margin: 14em 0 0 1em;
          span {
            font-size: $font-Mobile-L;
          }
        }
      }
    }
    .section-4 {
      .about-me {
        p {
          font-size: $font-Mobile-L;
        }
      }
    }

    footer {
      .icons {
        i {
          font-size: $font-Mobile-L;
        }
      }
    }
  }
}

/*

ACA TENEMOS QUE SACAR EL ICONO DEL MENÜ HAMBURGUESA Y ESTILAR EL MENÜ 
COMO LA VISTA DE FIGMA.

*/

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  body {
    button {
      margin-top: 0.5em;
      background: rgba(255, 255, 255, 0.48);
      border: 1px solid #00000074;
      padding: 0.5em 1.5em;
      text-transform: uppercase;
      font-size: $font-Tablet * 1.2;
      font-weight: 800;
      font-family: "Fjalla One", sans-serif;
      border-radius: 8px;
      letter-spacing: 0.1em;
    }
    #myHeader {
      width: 100%;
      height: 100%;

      .topnav {
        width: 100%;
        height: 100%;
        flex-direction: row;
        .header-content {
          a {
            position: static;
            margin: 0 1em;
          }
        }
        .matricula {
          display: inline;
          text-align: start;
          height: auto;
          font-size: $font-Tablet / 1.5;
          padding: 0 90px 0 0;
        }
        .control-nav {
          width: 150%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          margin: 0;
          a {
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 20px 5px;
          }
        }
      }
    }
    .section-1 {
      .content {
        .first-text {
          font-size: $font-Tablet * 1.8;
        }
        .call-to-action {
          margin: 1em;
          padding: 1em;
          .text {
            font-size: $font-Tablet;
          }
        }
      }
    }

    .section-2 {
      .image {
        .text {
          width: 120px;
          font-size: $font-Tablet;
          margin: 5em 0 0 2em;
        }
      }
    }

    .section-3 {
      font-size: $font-Tablet;

      .image {
        display: flex;
        align-items: center;
        .text {
          width: 200px;
          height: 27%;
          margin: 15em 0 0 2em;
          line-height: 200%;
          span {
            font-size: $font-Tablet;
          }
        }
      }
    }
    .section-4 {
      font-size: $font-Tablet;

      .about-me {
        padding: 2.5em;
        h3 {
          margin-bottom: 2em;
          font-size: $font-Tablet;
        }
        p {
          font-size: $font-Tablet;
        }
      }
    }

    .my-Form {
      margin: 2em 4em;
      box-shadow: 10px 10px 31px -2px rgba(0, 0, 0, 0.75);
      .form {
        padding: 1em;
        .tit-form {
          h3 {
            font-size: 24px;
          }
        }
        .form-content {
          textarea,
          textarea::placeholder,
          p,
          input::placeholder {
            font-size: $font-Tablet;
          }
          .select-wrapper {
            select {
              font-size: $font-Tablet;

              option {
                font-size: $font-Tablet;
              }
            }
          }
        }
      }
      input {
        font-size: $font-Tablet;
      }
    }

    .section-5 {
      font-size: $font-Tablet;

      img {
        width: 25%;
        margin: 1.5em 1.5em;
      }
    }
    footer {
      .icons {
        font-size: $font-Tablet;

        i {
          font-size: $font-Tablet;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
  body {
    button {
      margin-top: 0;
    }
    .section-1 {
      .content {
        .first-text {
          line-height: 143.4%;
          letter-spacing: 8px;
        }
      }
      .call-to-action {
        width: 100%;
        border-radius: 50px;
        .text {
          width: 71%;
          align-self: center;
          line-height: 134%;
          padding-top: 0px;
          padding: 1em;
          span {
            width: 90%;
            text-align: center;
          }
        }
      }
    }
    .form {
      .form-content {
        input + span::before {
          position: absolute;
          left: 13.5rem;
          top: -3.5rem;
          font-size: $font-Laptop;
        }
      }
    }
  }

  /* Extra large devices (large laptops and desktops) */
  @media only screen and (min-width: 1420px) {
    body {
      font-size: $font-Laptop;
      .section-1 {
        .content {
          .first-text {
            padding-right: 19%;
            font-size: $font-Laptop * 2;
          }
          .call-to-action {
            width: 100%;
            font-size: $font-Laptop;
            .text {
              padding: 0;
              padding-bottom: 1em;
              font-size: $font-Laptop;
            }
            .button {
              padding: 0em;
            }
          }
        }
      }
      .section-2 {
        .image {
          .text {
            font-size: $font-Laptop * 1.5;
            span {
              font-size: $font-Laptop * 1.5;
            }
          }
        }
      }
      .section-3 {
        .image {
          .text {
            font-size: $font-Laptop * 1.5;
            margin: 0;
            width: 40%;
            height: 30%;
            span {
              font-size: $font-Laptop * 1.5;
            }
          }
        }
      }
      .section-4 {
        font-size: $font-Laptop * 1.5;
        .about-me {
          p {
            font-size: $font-Laptop * 1.5;
          }
        }
      }
      .my-Form {
        margin: 2em 11em;
        .form {
          .tit-form {
            h3 {
              font-size: $font-Laptop * 1.5;
            }
          }
          .form-content {
            input + span::before {
              position: absolute;
              left: 11rem;
              top: -3.5rem;
              font-size: $font-Laptop;
            }
          }
          .form-content::placeholder {
            font-size: $font-Laptop * 1.5;
          }
        }
      }
      .section-5 {
        font-size: $font-Laptop * 1.5;
        img {
          margin: 2em 1em;
        }
      }
    }
  }
}
