@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

body button {
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.48);
  border: 1px solid #00000074;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  font-family: "Fjalla One", sans-serif;
  border-radius: 8px;
  letter-spacing: 0.1em;
}

body button:hover {
  -webkit-box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
  border: none;
}

body button:focus {
  outline: none;
}

body header {
  width: auto;
  height: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
}

body header .topnav {
  overflow: hidden;
}

body header .topnav #logo {
  position: absolute;
  left: 10px;
  top: 10px;
}

body header .topnav #myLinks {
  display: none;
}

body header .topnav .icon {
  color: black;
  position: absolute;
  right: 10px;
  top: 10px;
}

body header .topnav .control-nav {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

body header .topnav .control-nav a {
  text-decoration: none;
  color: black;
  margin: 0 60px;
  padding: 14px 16px;
  display: block;
}

body header .topnav .control-nav a:hover {
  border: 1px solid white;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

body .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-1 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-1 .image img {
  width: 100%;
  height: auto;
}

body .section-1 .image .first-text {
  position: absolute;
  margin: 5% 0 0 5%;
  padding-right: 150px;
  letter-spacing: 2px;
  line-height: 134.4%;
}

body .section-1 .call-to-action {
  position: absolute;
  margin: 42% 2% 0 50%;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
}

body .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-2 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-2 .image img {
  width: 100%;
  height: auto;
}

body .section-2 .image .text {
  position: absolute;
  margin: 20% 0 0 5%;
  padding-right: 60%;
  text-align: center;
}

body .section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-3 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-3 .image img {
  width: 100%;
  height: auto;
}

body .section-3 .image .text {
  position: absolute;
  margin: 15% 0 0 5%;
  padding-right: 75%;
  text-align: center;
  font-size: 10px;
}

body .section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-4 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-4 .image img {
  opacity: 0.5;
  width: 100%;
  height: auto;
}

body .section-4 .image .call-to-action {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15%;
}

body .section-4 .image .call-to-action .text {
  text-align: center;
  font-size: 20px;
}

body .section-4 .image .call-to-action .button {
  width: auto;
}

body .formulario {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body .formulario .submit input {
  display: none;
}

body .formulario .submit .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

body .formulario .submit .close:hover,
body .formulario .submit .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body footer {
  height: 40px;
  font-size: 11px;
  background-color: black;
  color: #ffffff;
  padding: 10px 5px;
}

body footer i {
  color: #ffffff;
  padding-right: 5px;
}

body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .ic-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body .section-1 .image .first-text {
    padding-right: 200px;
  }
  body .section-1 .call-to-action {
    margin: 43% 0 0 50%;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 425px) {
  body .section-1 .image .first-text {
    padding-right: 250px;
  }
  body .section-1 .call-to-action {
    margin: 43% 5% 0 55%;
  }
  body .section-2 .image .text {
    margin: 25% 0 0 5%;
    padding-right: 70%;
    font-size: 16px;
  }
  body .section-3 .image .text {
    margin: 15% 0 0 5%;
    padding-right: 75%;
    font-size: 14px;
  }
}

/*

ACA TENEMOS QUE SACAR EL ICONO DEL MENÜ HAMBURGUESA Y ESTILAR EL MENÜ 
COMO LA VISTA DE FIGMA.

*/
/* Medium devices (landscape tablets) */
/* Large devices (laptops/desktops) */
/* Extra large devices (large laptops and desktops) */
/*# sourceMappingURL=style.css.map */