* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;

  button {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid #00000074;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    font-family: "Fjalla One", sans-serif;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }

  button:hover {
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
    border: none;
  }

  button:focus {
    display: none;
  }

  header {
    width: auto;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    .topnav {
      overflow: hidden;
      #logo {
        position: absolute;
        left: 10px;
        top: 10px;
      }
      #myLinks {
        display: none;
      }
      .icon {
        color: black;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .control-nav {
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        a {
          text-decoration: none;
          color: black;
          margin: 0 60px;
          padding: 14px 16px;
          display: block;
        }
        a:hover {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 10px;
        }
      }
    }
  }
  .section-1 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .first-text {
        position: absolute;
        margin: 5% 0 0 5%;
        padding-right: 140px;
        letter-spacing: 2px;
        line-height: 134.4%;
      }
    }

    .call-to-action {
      position: absolute;
      margin: 42% 2% 0 50%;
      padding-right: 10px;
      text-align: right;
      font-size: 13px;
    }
  }

  .section-2 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        position: absolute;
        margin: 20% 0 0 5%;
        padding-right: 60%;
        text-align: center;
      }
    }
  }

  .section-3 {
    display: flex;
    .image {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
      .text {
        position: absolute;
        margin: 15% 0 0 5%;
        padding-right: 75%;
        text-align: center;
        font-size: 10px;
      }
    }
  }

  .section-4 {
    display: flex;
    .image {
      display: flex;
      img {
        opacity: 0.5;
        width: 100%;
        height: auto;
      }
      .call-to-action {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 15%;
        .text {
          //   padding-right: 0%;
          text-align: center;
          font-size: 20px;
        }
        .button {
          width: auto;
          // margin-left: 20%;
          // margin-right: 20%;
        }
      }
    }
  }

  footer {
    height: 40px;
    font-size: 11px;
    background-color: black;
    color: #ffffff;
    padding: 10px 5px;
    i {
      color: #ffffff;
      padding-right: 5px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      //   margin: 10px;
    }
    .ic-st {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

/* Extra small devices */
@media only screen and (min-width: 375px) {
  body {
    .section-1 {
      .image {
        .first-text {
          padding-right: 200px;
        }
      }

      .call-to-action {
        margin: 43% 0 0 50%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 425px) {
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
}
