* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0 10px;
  header {
    margin-top: 5px;
    width: auto;
    height: 50px;

    .topnav {
      overflow: hidden;
      #myLinks {
        display: none;
      }
      .icon {
        color: black;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .control-nav {
        text-transform: uppercase;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          margin: 0 60px;
          padding: 14px 16px;
          display: block;
        }
        a:hover {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 10px;
          background: #ffffff;
          box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.25);
          padding: 10px;
        }
      }
    }
  }
}
